apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: istio-ingress
  namespace: argocd
spec:
  project: default
  sources:
    - chart: gateway
      repoURL: https://istio-release.storage.googleapis.com/charts
      targetRevision: "1.27.0"
      helm:
        releaseName: istio-gateway
    - repoURL: https://github.com/Alt3rius/argo-rollouts-app.git
      targetRevision: HEAD
      path: istio-ingress
  destination:
    server: https://kubernetes.default.svc
    namespace: istio-ingress
  syncPolicy:
    automated:
      prune: true
      selfHeal: true